{% extends 'base.html' %} {% block content %}

<div>
    <h1>Real Time Chat</h1>
    <form method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" value="{{username}}"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="text" name="password" value="{{nick}}"/>
        </div>
        <div class="login">
            <button type="submit" name="login" class="login-button">Login</button> 
        </div>
        <div class="register">
            <button type="submit" name="register" class="register-button">Register</button> 
        </div>
    </form>
    
    
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</div>
{% endblock %}