{% extends 'base.html' %} {% block content %}
<h1>Room with code: {{code}}</h1>
    
<div class="chatlogs" style="overflow-y: scroll; height:400px; width: 30%;">

    <ul id="savedMessages">
        {% for msg in messages %}
        <li>{{msg[0]}} wrote: {{msg[1]}} at {{msg[2]}}</li>
        {% endfor %}
        <span id="liveMessages">

        </span>
    </ul> 
</div>
<div class="">
    <input type="text" name="text" id="textbox"/>
    <button type="submit" name="send" class="sendButton" onclick="sendMessage()">Send</button> 
</div>

<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {

    });
    function sendMessage() {    
        message = document.getElementById("textbox").value;
        username = "{{username}}";
        
        socket.emit('sendMessage', {username:username,message:message});
        message = document.getElementById("textbox").value = "";
    }
    socket.on("message", (data) => {
        document.getElementById("liveMessages").innerHTML += "<li>" + data["username"] + " wrote: " + data["message"]+ " at " + data["datetime"] +"</li>";
    })
</script>
{% endblock %}