{% extends 'base.html' %} {% block content %}
<h1>Room with code: {{code}}</h1>
    
    {% for msg in messages %}
    <ul>
        <li>{{msg[0]}} wrote: {{msg[1]}} at {{msg[2]}}</li>
    </ul> 
    {% endfor %}

<div class="">
    <input type="text" name="text" id="textbox"/>
    <button type="submit" name="send" class="sendButton" onclick="sendMessage()">Send</button> 
</div>
<div>
    
</div>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {

    });
    function sendMessage() {    
        message = document.getElementById("textbox").value;
        username = "{{username}}";
        
        socket.emit('sendMessage', {username:username,message:message});
        console.log('sendMessage');
    }
    socket.on("message", (data) => {
        //upon receiving message - update displayed messages
        //socket.emit('updateMessages');
        console.log('receivedMessage');
    })
</script>
{% endblock %}